.navbar {
  background: #1c1948;
}
.about {
  background: #291844;
  box-shadow: 0px -9px 37px 0px rgba(128, 98, 214, 0.25);
  padding: 90px 0;
}

.aboutLeft {
  border-radius: 0px 50px;
  background: #fff;
  width: 500px;
  height: 580px;
  box-shadow: 11px 11px 24px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.layoutsIcon {
  padding: 25px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about .container {
  display: flex;
  flex-direction: column;
  gap: 50px 0;
}

.aboutTop {
  background: #fff;
  width: 560px;
  height: 300px;
  padding: 30px;
}
.aboutList {
  display: flex;
  justify-content: space-between;
}
.aboutTop p {
  color: #2a1844;
  font-family: Vocal, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 92.5%;
}
.aboutTop span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  cursor: pointer;
}

.aboutTop h3 {
  color: #2a1844;
  leading-trim: both;
  text-edge: cap;
  font-family: Vocal, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 15px;
}

.aboutBottom {
  border-radius: 30px;
  background: #fff;
  width: 475.562px;
  height: 263px;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.aboutItem {
  border-radius: 0px 10px;
  background: #fff;
  box-shadow: 11px 11px 24px 0px rgba(0, 0, 0, 0.25);
  width: 193.365px;
  height: 193.365px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.aboutIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form {
  padding: 50px 0;
}

.form input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #2a1844;
  padding: 8px 12px;
  color: #2a1844;
  font-family: Vocal, sans-serif;
  font-size: 36px;
  margin: 25px 0;
  width: 100%;
}

.form input::placeholder {
  color: rgba(42, 24, 68, 0.6);
  font-family: Vocal, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 92.5%;
}

.form form {
  display: flex;
  flex-direction: column;
  width: 837.5px;
  margin: 25px auto;
}

.form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
}

.bottom {
  background: #291844;
  box-shadow: 0px -9px 37px 0px rgba(128, 98, 214, 0.25);
  padding: 27px 0;
}

.bottom a {
  color: #fff;
  font-family: Vocal, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 92.5%;
}

.bottomList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 140px;
}
