.layoutName span {
  opacity: 0;
}

.vcd {
  animation: animateSP 1s 0s ease both;
}

.layoutName span:nth-child(1) {
  animation-delay: 0.8s;
}

.layoutName span:nth-child(2) {
  animation-delay: 1s;
}

.layoutName span:nth-child(3) {
  animation-delay: 1.2s;
}

.layoutName span:nth-child(4) {
  animation-delay: 1.4s;
}

.layoutName span:nth-child(5) {
  animation-delay: 1.6s;
}

.layoutName span:nth-child(6) {
  animation-delay: 1.8s;
}

.layoutName span:nth-child(7) {
  animation-delay: 1.8s;
}

@keyframes animateSP {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) !important;
    transform: scale(0.6);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  77% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
}

.galleryName span {
  opacity: 0;
}

.vcd1 {
  animation: animateSP1 1s 0s ease both;
}

.galleryName span:nth-child(1) {
  animation-delay: 0.8s;
}

.galleryName span:nth-child(2) {
  animation-delay: 1s;
}

.galleryName span:nth-child(3) {
  animation-delay: 1.2s;
}

.galleryName span:nth-child(4) {
  animation-delay: 1.4s;
}

.galleryName span:nth-child(5) {
  animation-delay: 1.6s;
}

.galleryName span:nth-child(6) {
  animation-delay: 1.8s;
}

.galleryName span:nth-child(7) {
  animation-delay: 1.8s;
}
.galleryName span:nth-child(8) {
  animation-delay: 1.9s;
}

@keyframes animateSP1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) !important;
    transform: scale(0.6);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  77% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
}

.contactName span {
  opacity: 0;
}

.vcd2 {
  animation: animateSP2 1s 0s ease both;
}

.contactName span:nth-child(1) {
  animation-delay: 0.8s;
}

.contactName span:nth-child(2) {
  animation-delay: 1s;
}

.contactName span:nth-child(3) {
  animation-delay: 1.2s;
}

.contactName span:nth-child(4) {
  animation-delay: 1.4s;
}

.contactName span:nth-child(5) {
  animation-delay: 1.6s;
}

.contactName span:nth-child(6) {
  animation-delay: 1.8s;
}

.contactName span:nth-child(7) {
  animation-delay: 1.8s;
}

.contactName span:nth-child(8) {
  animation-delay: 2s;
}
.contactName span:nth-child(9) {
  animation-delay: 2.1s;
}
.contactName span:nth-child(10) {
  animation-delay: 2.2s;
}

.contactName span:nth-child(11) {
  animation-delay: 2.3s;
}
.contactName span:nth-child(12) {
  animation-delay: 2.4s;
}

@keyframes animateSP2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) !important;
    transform: scale(0.6);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  77% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
}

.headerFormName span {
  opacity: 0;
}

.vcd3 {
  animation: animateSP3 1s 0s ease both;
}

.headerFormName span:nth-child(1) {
  animation-delay: 0.3s;
}

.headerFormName span:nth-child(2) {
  animation-delay: 0.4s;
}

.headerFormName span:nth-child(3) {
  animation-delay: 0.5s;
}

.headerFormName span:nth-child(4) {
  animation-delay: 0.6s;
}

.headerFormName span:nth-child(5) {
  animation-delay: 0.7s;
}

.headerFormName span:nth-child(6) {
  animation-delay: 0.8s;
}

.headerFormName span:nth-child(7) {
  animation-delay: 0.9s;
}

.headerFormName span:nth-child(8) {
  animation-delay: 1s;
}
.headerFormName span:nth-child(9) {
  animation-delay: 1.1s;
}
.headerFormName span:nth-child(10) {
  animation-delay: 1.2s;
}
.headerFormName span:nth-child(11) {
  animation-delay: 1.3s;
}
.headerFormName span:nth-child(12) {
  animation-delay: 1.4s;
}

.headerFormName span:nth-child(13) {
  animation-delay: 1.5s;
}

.headerFormName span:nth-child(14) {
  animation-delay: 1.6s;
}

.headerFormName span:nth-child(15) {
  animation-delay: 1.7s;
}

.headerFormName span:nth-child(16) {
  animation-delay: 1.8s;
}

.headerFormName span:nth-child(17) {
  animation-delay: 1.9s;
}
.headerFormName span:nth-child(18) {
  animation-delay: 2s;
}
.headerFormName span:nth-child(19) {
  animation-delay: 2.1s;
}
.headerFormName span:nth-child(20) {
  animation-delay: 2.2s;
}
.headerFormName span:nth-child(21) {
  animation-delay: 2.3s;
}
.headerFormName span:nth-child(22) {
  animation-delay: 2.4s;
}
.headerFormName span:nth-child(23) {
  animation-delay: 2.5s;
}
.headerFormName span:nth-child(24) {
  animation-delay: 2.6s;
}
.headerFormName span:nth-child(25) {
  animation-delay: 2.7s;
}
.headerFormName span:nth-child(26) {
  animation-delay: 2.8s;
}
.headerFormName span:nth-child(27) {
  animation-delay: 2.9s;
}

.headerFormName span:nth-child(28) {
  animation-delay: 3s;
}
.headerFormName span:nth-child(29) {
  animation-delay: 3.1s;
}
.headerFormName span:nth-child(30) {
  animation-delay: 3.2s;
}
.headerFormName span:nth-child(31) {
  animation-delay: 3.3s;
}
.headerFormName span:nth-child(32) {
  animation-delay: 3.4s;
}
.headerFormName span:nth-child(33) {
  animation-delay: 3.5s;
}
.headerFormName span:nth-child(34) {
  animation-delay: 3.6s;
}
.headerFormName span:nth-child(35) {
  animation-delay: 3.7s;
}
.headerFormName span:nth-child(36) {
  animation-delay: 3.8s;
}
.headerFormName span:nth-child(37) {
  animation-delay: 3.9s;
}

@keyframes animateSP3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) !important;
    transform: scale(0.6);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  77% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
}

.businesName span {
  opacity: 0;
}

.vcd4 {
  animation: animateSP4 1s 0s ease both;
}

.businesName span:nth-child(1) {
  animation-delay: 0.3s;
}

.businesName span:nth-child(2) {
  animation-delay: 0.4s;
}

.businesName span:nth-child(3) {
  animation-delay: 0.5s;
}

.businesName span:nth-child(4) {
  animation-delay: 0.6s;
}

.businesName span:nth-child(5) {
  animation-delay: 0.7s;
}

.businesName span:nth-child(6) {
  animation-delay: 0.8s;
}

.businesName span:nth-child(7) {
  animation-delay: 0.9s;
}

.businesName span:nth-child(8) {
  animation-delay: 1s;
}
.businesName span:nth-child(9) {
  animation-delay: 1.1s;
}
.businesName span:nth-child(10) {
  animation-delay: 1.2s;
}

.businesName span:nth-child(11) {
  animation-delay: 1.3s;
}
.businesName span:nth-child(12) {
  animation-delay: 1.4s;
}

.businesName span:nth-child(13) {
  animation-delay: 1.5s;
}

.businesName span:nth-child(14) {
  animation-delay: 1.6s;
}

.businesName span:nth-child(15) {
  animation-delay: 1.7s;
}

@keyframes animateSP4 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) !important;
    transform: scale(0.6);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  77% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) !important;
    transform: scale(1);
  }
}
