.loading {
  top: 0;
  left: 0;
  z-index: 10999;
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.loading video {
  object-fit: cover !important;
}

@media (max-width: 550px) {
  .loading {
    height: 110vh;
  }
}
