@font-face {
  font-family: Vocal, sans-serif;
  src: url("../fonts/Vocal\ Regular.otf");
}

.slick-slide img {
  display: flex !important;
}

.layoutName,
.galleryName,
.contactName {
  overflow: auto;
  animation: typing 5s steps(30, end), blink-caret 0.5s step-end;
  animation-iteration-count: infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.BgImage {
  background-image: url("../assets/page.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header {
  padding-top: 320px;
  padding-bottom: 147px;
}

.navbarList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarItem {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbarItem h4 {
  color: #fff;
  font-family: Vocal, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.navbarItem button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbarLink {
  border-radius: 50px;
  border: 1px solid #ffd2d7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Vocal, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 290;
  line-height: normal;
  width: 180px;
  height: 40px;
}

.headerName {
  color: #f9f1f2;
  font-family: Vocal, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
  text-transform: uppercase;
}

.headerForm {
  position: relative;
  top: 0px;
  left: 25px;
  transform: translateY(-32%);
  border-radius: 0px 50px;
  background: #ffd2d7;
  padding-top: 72px;
  padding-bottom: 42px;
  padding-left: 50px;
  padding-right: 50px;
  width: 940px;
  margin: 0 auto;
  height: 500px;
  margin-top: 20px;
}

.headerForm form {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.headerForm button {
  border-radius: 50px;
  border: 1px solid #40128b;
  color: #40128b;
  text-align: center;
  font-family: Vocal, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 92.5%;
  width: 319.973px;
  height: 51px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  transition: 0.3s all ease-in-out;
}

.headerForm button:hover {
  background-color: #8062d6;
  color: #ffd2d7;
}

.headerFormName {
  color: #40128b;
  text-align: center;
  font-family: Vocal, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 106.5%;
  text-transform: uppercase;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.formInput {
  outline: none;
  padding: 8px 15px;
  border: none;
  border-bottom: 1px solid #40128b;
  background-color: transparent;
  width: 290px;
  font-size: 36px;
  color: #40128b;
}

.formInput::placeholder {
  color: rgba(64, 18, 139, 0.2);
  font-family: Vocal, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 92.5%;
}

.gallery {
  border-radius: 122px;
  background: #ffd2d7;
  box-shadow: 0px -9px 37px 0px rgba(128, 98, 214, 0.25);
  border-radius: 0 0px 80px 80px;
  padding: 100px 0;
}

.galleryName {
  color: #8062d6;
  font-family: Vocal, sans-serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
}

.galleryList {
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  margin-top: 100px;
}

.galeryImage {
  border-radius: 80px 0px;
  width: 48%;
  height: 271px;
}

.company {
  padding: 60px 0;
}

.companyText {
  color: #40128b;
  font-family: Vocal Light;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 92.5%;
  width: 800px !important;
}

.partner {
  padding: 30px 0;
}

.partnerIcon {
  width: 180px;
  object-fit: contain;
  height: 50px;
  cursor: pointer;
}

/* .partnerList {
  display: flex;
  align-items: center;
  gap: 35px;
} */

.companyList {
  display: flex;
  align-items: center;
}

.companyImage {
  position: relative;
  left: 0;
  transform: translateX(-27%);
  width: 764px;
  height: 749px;
}

.contact {
  border-radius: 80px 80px 0px 0px;
  background: #8062d6;
  box-shadow: 0px -13px 39px 0px rgba(128, 98, 214, 0.3);
  padding: 100px 0;
  padding-bottom: 0;
  position: relative;
}

.contactName {
  color: #f9f1f2;
  font-family: Vocal, sans-serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.moderaItem {
  border-radius: 53px;
  width: 657px;
  height: 606.854px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgba(255, 210, 215, 0.63);
  position: absolute;
  top: 28%;
  left: 38%;
}

.menuLogo {
  height: 650px;
}

.footer {
  background: #40128b;
  padding: 35px 0;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.sectionList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 0 15px;
  position: relative;
}

.section {
  padding-bottom: 80px;
}

.sectionItem {
  border-radius: 0px 50px;
  background: #ffd2d7;
  box-shadow: 3px 10px 20px 0px rgba(128, 98, 214, 0.2);
  width: 174.171px;
  height: 174.171px;
  transform: rotate(45deg);
  display: flex;
  border: 2px solid #ffd2d7;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  z-index: 1001;
}

.sectionItem:nth-child(1) {
  position: absolute;
  top: 8%;
  left: 20%;
}

.sectionItem:nth-child(1):hover {
  background-color: transparent;
  color: #8062d6;
  border: 2px solid #ffd2d7;
}
.sectionItem:nth-child(4):hover {
  background-color: transparent;
  color: #8062d6;
  border: 2px solid #ffd2d7;
}

.sectionItem:nth-child(2):hover {
  background-color: #ffd2d7;
  color: #8062d6;
  border: 2px solid #ffd2d7;
}
.sectionItem:nth-child(3):hover {
  background-color: #ffd2d7;
  color: #8062d6;
  border: 2px solid #ffd2d7;
}

.sectionItem:nth-child(2) {
  border-radius: 0px 50px;
  border: 3px solid #ffd2d7;
  background-color: #fff;
  position: absolute;
  top: 32%;
  left: 36%;
  transform: rotate(45deg);
  margin-top: 90px;
}
.sectionItem:nth-child(3) {
  border-radius: 0px 50px;
  border: 3px solid #ffd2d7;
  background-color: #fff;
  position: absolute;
  left: 48%;
  margin-top: 70px;
}

.sectionItem:nth-child(4) {
  position: absolute;
  left: 68%;
  top: 8%;
}

.sectionItem:nth-child(3) h3 {
  margin-left: -40px;
  margin-bottom: 0;
  margin-top: 0;
}

.sectionItem:nth-child(3) p {
  margin-left: 40px;
  margin-top: -10px;
  margin-bottom: 0;
}

.sectionItem:nth-child(2) h3 {
  margin-left: 0px;
}
.sectionItem:nth-child(2) p {
  margin-left: 55px;
  margin-top: -20px;
}

.sectionItem:nth-child(4) h3 {
  margin-left: -45px;
  margin-top: 0px;
}

.sectionItem:nth-child(4) p {
  margin-left: 40px;
  margin-top: -15px;
}

.sectionItem:nth-child(1) h3 {
  margin-left: 0px;
}

.sectionItem:nth-child(1) p {
  margin-left: 50px;
  margin-top: -15px;
}

.sectionName {
  color: #40128b;
  font-family: Vocal, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
  text-transform: uppercase;
  margin-top: 0;
  transform: rotate(-45deg);
}

.sectionItem p {
  color: #40128b;
  font-family: Vocal, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  transform: rotate(-45deg);
  margin-top: 15px;
  text-align: center;
}

.towerImage {
  position: relative;
  left: 10%;
}

.towerOne {
  position: relative;
  left: -60px;
  transform: translateX(100%);
  top: 17%;
}

.towerTwo {
  position: relative;
  left: -60px;
  transform: translateX(100%);
  top: 20%;
}

.towerThree {
  position: relative;
  left: -60px;
  transform: translateX(100%);
  top: 36%;
}

.towerFour {
  position: relative;
  left: -60px;
  transform: translateX(100%);
  top: 51%;
  width: 220px;
}

.towerFive {
  position: relative;
  left: -60px;
  transform: translateX(100%);
  top: 53%;
}

.towerSix {
  position: relative;
  left: -60px;
  transform: translateX(100%);
  top: 55%;
}

.towerSeven {
  position: relative;
  left: -60px;
  transform: translateX(100%);
  top: 60%;
}

.towerEight {
  position: relative;
  left: -60px;
  transform: translateX(100%);
  top: 62%;
}

.towerList span {
  color: #40128b;
  text-align: right;
  font-family: Vocal, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 92.5%;
}

.towerList h3 {
  color: #40128b;
  text-align: right;
  font-family: Vocal, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
  margin-top: -8px;
}

.towerList div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.layouts {
  border-radius: 80px 80px 0px 0px;
  background: #8062d6;
  padding-top: 92px;
  padding-bottom: 33px;
  margin-top: -60px;
}

.layoutName {
  color: #f9f1f2;
  font-family: Vocal, sans-serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.layoutsList {
  display: flex;
}

.layoutsList a {
  font-family: Vocal, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 92.5%;
  padding: 8px 0;
  color: #fff;
  transition: 0.3s all ease-in-out;
  animation-name: LayoutLink;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 5s;
}

@keyframes LayoutLink {
  from {
    color: #fff;
  }
  to {
    color: #ffd2d7;
  }
}

.layoutsItem {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  width: 650px;
}

.layoutsImage {
  padding: 47.976px 32.411px 27.542px 27.05px;
  width: 700px;
}

.layouts button {
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.23);
  background: #ffd2d7;
  box-shadow: 4px 2px 12px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 311.197px;
  height: 60px;
  color: #40128b;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Vocal, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 92.5%;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  transition: 0.3s all ease-in-out;
}

.layouts button:hover {
  background-color: #8062d6;
  color: #ffd2d7;
}

.busines {
  border-radius: 80px 80px 0px 0px;
  padding-top: 80px;
  padding-bottom: 120px;
  padding-left: 70px;
  padding-right: 30px;
  background: #ffd2d7;
  box-shadow: 0px -9px 37px 0px rgba(128, 98, 214, 0.25);
}

.busines h2 {
  color: #8062d6;
  leading-trim: both;
  text-edge: cap;
  font-family: Vocal, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
  text-transform: uppercase;
  margin-top: -35px;
}

.busines img {
  border-radius: 0px 0px 30px 0px;
  width: 480px;
  height: 274px;
  background: linear-gradient(0deg, #fff 0%, rgba(217, 217, 217, 0) 34.41%);
}

.busines p {
  width: 464px;
  margin-top: 20px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.15);
  color: #40128b;
  leading-trim: both;
  text-edge: cap;
  font-family: Vocal, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 109.5%;
  padding: 25px 35px;
}

.mySwiper .swiper-slide:nth-child(even) {
  margin-top: 120px !important;
}

.businesItem {
  margin: 0 25px !important;
}

.businesItem:nth-child(even) {
  margin-top: 120px !important;
}

.iconBox {
  position: relative;
  background-color: #ffd2d7;
  margin-top: 50px;
}

.iconList {
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: center;
}

.iconItem {
  border: 3px solid #8062d6;
  width: 120px;
  border-radius: 0px 50px;
  height: 120px;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.iconItem:hover {
  background-color: #8062d6;
}

.iconItem svg {
  transform: rotate(-45deg);
}

.iconItem:hover svg path {
  fill: #ffd2d7;
}

.iconItems {
  border: 3px solid #8062d6;
  width: 120px;
  border-radius: 0px 50px;
  height: 120px;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #8062d6;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.iconItems:hover {
  background-color: #ffd2d7;
}

.iconItems svg {
  transform: rotate(-45deg);
}

.iconItems:hover svg path {
  fill: #8062d6;
}

.headermodal {
  background-image: url("../assets/menu.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  margin-bottom: 100px;
  padding-bottom: 80px;
}

.headermodal h1 {
  color: #fff;
  font-family: Vocal, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: 92.5%;
  padding-top: 250px;
}

.headermodal h2 {
  color: #ffd2d7;
  font-family: Vocal, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: 92.5%;
}

.headerModalList {
  display: flex;
  justify-content: space-between;
}

.headerModalItem {
  border-radius: 50px;
  background: #8062d6;
  width: 566px;
  height: 580px;
  padding: 80px;
  margin-top: 40px;
}

.headerModalItem h4 {
  color: #ffd2d7;
  font-family: Vocal, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 92.5%;
}

.headerModalTop a {
  color: #fff;
  text-align: right;
  font-family: Vocal, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 92.5%;
  transition: 0.3s all ease-in-out;
}
.headerModalTop a:hover {
  color: #ffd2d7;
}
.headerModalTop {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 2px solid #ffd2d7;
  padding-top: 150px;
  padding-right: 34px;
}
