.modal-title {
  font-size: 3.6rem;
  line-height: 100%;
  color: #0c004c;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-family: Vocal, sans-serif;
}

.modal-text {
  font-size: 1rem;
  color: #0c004c;
  line-height: 160%;
  margin: 0 auto 2.5rem;
  font-family: Vocal, sans-serif;
  text-transform: none;
  max-width: 19rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-input {
  width: 100%;
  margin-bottom: 3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #0c004c;
  font-size: 18px;
  padding-bottom: 1.2rem;
  font-family: Vocal, sans-serif;
  outline: none;
  color: #0c004c;
}

.modal-submit,
.modal-close {
  background: transparent;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}

/* .modal-submit:hover svg circle {
  fill: #fcbe83;
} */

.modal-close {
  position: absolute;
  top: 2%;
  right: 15px;
}

@media (max-width: 760px) {
  .css-12pp0xu {
    width: 95% !important;
    padding: 3rem 1.8rem 2rem !important;
  }

  .modal-title {
    font-size: 2rem !important;
  }
}
