.moderaList {
  position: absolute;
  right: 0;
  top: 36%;
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  padding: 40px 25px;
  gap: 18px;
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  transition: 0.3s all ease-in-out;
}

.slick-next,
.slick-prev {
  display: none !important;
}

.index-module_type__E-SaG::after {
  content: "" !important;
}

.BgImageTwo {
  background-image: url("./assets/towerimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 852px;
  display: none;
}

.contactList {
  display: none !important;
  border-radius: 25px 25px 0px 0px;
  background: #fff;
  padding: 15px 10px;
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0 auto;
}

.contactList img {
  width: 50px;
  height: 50px;
}

.contactList svg {
  width: 50px;
  height: 50px;
}

.layout-list .container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.mySwiperResponsive {
  display: none;
}

.layout-item {
  width: 40% !important;
}

.layout-list {
  background: #291844;
  box-shadow: 0px -9px 37px 0px rgba(128, 98, 214, 0.25);
  padding: 60px 0;
}

.layout-list-name {
  color: #fff;
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: Vocal, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 92.5%;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 35px;
}

.layout-list-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Vocal, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 92.5%;
  margin: 10px 0;
}

.layout-list-text {
  padding-left: 85px;
}

.layout-top {
  border-radius: 0px 80px;
  background: #fff;
  box-shadow: 11px 11px 24px 0px rgba(0, 0, 0, 0.25);
  width: 442px;
  height: 442px;
  padding: 25px;
  display: flex;
  justify-content: flex-end;
}

.contactImage {
  border-radius: 53px;
  width: 640px;
  height: 580px;
}

.moderaList:hover {
  transform: translateX(50px);
  width: 430px;
}

.moderaLinks {
  display: none;
}

.moderaLinks {
  margin-left: -40px;
}

.moderaList:hover .moderaLink {
  display: none;
}

.moderaList:hover .moderaLinks {
  display: block;
}

.moderaList:hover .moderaItem {
  left: 20% !important;
}

.custom-dropdown-toggle {
  border-radius: 50px;
  border: 1px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Vocal, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  font-weight: 290;
  line-height: normal;
  width: 58px;
  height: 30px;
}
.custom-dropdown-menu {
  position: absolute;
  top: 65%;
  margin-left: 3px;
  border-radius: 10px;
  background: #fff;
}

.custom-dropdown-item {
  color: #40128b;
  font-family: Vocal, sans-serif;
  font-size: 15px;
  font-style: normal;
  cursor: pointer;
  padding: 5px 8px;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  transition: 0.3s all ease-in-out;
}
.custom-dropdown-item:hover {
  background-color: #40128b;
  color: #ffd2d7;
}

@media (max-width: 1240px) {
  .container {
    width: 100%;
  }

  .iconList {
    display: flex;
    flex-wrap: wrap;
  }

  .iconItem,
  .iconItems {
    width: 100px !important;
    height: 100px !important;
    margin: 10px !important;
  }
  .iconList {
    gap: 0px !important;
  }
  .iconItem svg {
    width: 40px !important;
    height: 40px !important;
  }

  .iconItems svg {
    width: 40px !important;
    height: 40px !important;
  }

  body .headerForm {
    width: 90% !important;
    left: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .headermodal h2 {
    font-size: 80px !important;
  }
  .headermodal h1 {
    font-size: 80px !important;
  }
  .headerModalTop a {
    font-size: 40px !important;
  }
  .headerModalItem {
    padding: 50px !important;
    height: 500px !important;
    width: 500px !important;
  }
  .headerName {
    width: 100% !important;
    font-size: 90px !important;
    line-height: 100px !important;
  }

  .galleryName,
  .layoutName {
    font-size: 100px !important;
  }
  .moderaItem {
    left: 24% !important;
    width: 530px !important;
    height: 480px !important;
  }
  .contactImage {
    width: 490px;
    height: 460px;
  }
  .moderaList img {
    width: 45px;
  }
  .moderaList {
    padding: 30px 10px !important;
    width: 80px;
  }
  .moderaList svg {
    width: 45px;
  }
  .layoutsList a {
    font-size: 40px !important;
  }
  .companyText {
    font-size: 28px !important;
  }
  .partnerIcon {
    width: 150px !important;
  }
  .layoutsImage {
    width: 600px !important;
  }

  .aboutTop {
    width: 500px !important;
  }
}

@media (max-width: 1040px) {
  .container {
    width: 100%;
  }

  .aboutList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .aboutLeft {
    width: 80% !important;
    margin: 15px 0 !important;
  }
  .form form {
    width: 100% !important;
  }
  .form input {
    font-size: 25px !important;
  }
  .form input::placeholder {
    font-size: 25px !important;
  }
  .headerName {
    width: 100% !important;
    font-size: 75px !important;
    line-height: 80px !important;
  }
  .layoutsImage {
    width: 500px !important;
  }
  .layoutsList a {
    font-size: 30px !important;
  }
  .galleryName,
  .contactName {
    font-size: 80px !important;
  }
  .partnerIcon {
    width: 120px !important;
    object-fit: cover !important;
    height: 35px !important;
  }
  body .headerFormName {
    font-size: 40px !important;
  }
  .headerForm button {
    font-size: 30px !important;
  }
}

@media (max-width: 820px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .layout-list .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .layout-item {
    width: 80% !important;
    margin: 0 auto;
  }
  .layout-top {
    width: 100% !important;
  }
  .headerName {
    width: 100% !important;
    font-size: 50px !important;
    line-height: 65px !important;
  }
  .headerFormName {
    margin-bottom: 50px !important;
  }

  .formInput {
    font-size: 22px !important;
  }
  .headerForm button {
    font-size: 25px !important;
    width: 250px !important;
  }
  .formInput {
    width: 100% !important;
  }

  .formInput::placeholder {
    font-size: 22px !important;
  }

  .headerFormName {
    font-size: 30px !important;
  }

  .menuLogo {
    width: 350px !important;
  }

  .partnerIcon {
    width: 70px !important;
  }
  .partnerList {
    gap: 15px !important;
    justify-content: space-between;
  }

  .header {
    padding-top: 300px !important;
    padding-bottom: 00px !important;
  }
  .navbarLink {
    display: none !important;
  }

  .moderaItem {
    width: 480px !important;
    left: 8% !important;
    height: 430px !important;
  }
  .contactImage {
    width: 460px;
    height: 410px;
  }
  .galeryImage {
    height: 240px !important;
  }
  .layoutsList a {
    font-size: 24px !important;
    line-height: 28px !important;
  }
  .galleryName,
  .layoutName {
    font-size: 70px !important;
  }
  .layoutsImage {
    width: 350px !important;
  }
  .galleryList {
    gap: 0 !important;
  }

  .companyList {
    display: flex !important;
    flex-direction: column !important;
  }
  body .companyText {
    width: 100% !important;
    font-size: 18px !important;
    line-height: 24px;
    margin-top: 15px !important;
  }
  .companyImage {
    width: 100% !important;
    transform: translateX(0) !important;
    height: 500px !important;
  }

  .headermodal h2 {
    font-size: 60px !important;
    line-height: 70px !important;
  }
  .headermodal h1 {
    font-size: 60px !important;
    line-height: 70px !important;
    padding-top: 50px !important;
  }
  .headerModalTop a {
    font-size: 30px !important;
    line-height: 26px !important;
  }
  .headerModalItem {
    padding: 30px !important;
    height: 430px !important;
    width: 400px !important;
    margin-top: 200px !important;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
  }

  .aboutLeft,
  .aboutTop,
  .aboutBottom {
    width: 100% !important;
  }

  .layout-item {
    width: 90% !important;
    margin: 0 auto;
  }

  .aboutTop {
    width: 100% !important;
    padding: 20px !important;
    height: 250px !important;
  }
  .aboutItem {
    width: 50% !important;
  }
  .aboutLeft {
    height: 450px !important;
  }
  body .aboutRight {
    width: 100% !important;
  }
  .aboutTop h3 {
    font-size: 30px !important;
  }
  .aboutTop p {
    font-size: 25px !important;
  }

  body .bottomList {
    gap: 35px !important;
  }
  .layout-top {
    width: 100% !important;
  }

  .sectionItem {
    border-radius: 0px 20px !important;
    background: #ffd2d7 !important;
    box-shadow: 3px 10px 20px 0px rgba(128, 98, 214, 0.2) !important;
    width: 75px !important;
    height: 75px !important;
    transform: rotate(45deg);
    flex-shrink: 0;
    /* width: 100px !important;
    height: 100px !important;
    border-radius: 0 25px !important; */
  }
  .sectionName {
    color: #2a1844 !important;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Vocal;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 92.5% !important;
    text-transform: uppercase;
  }
  .sectionItem:nth-child(1) {
    left: 13% !important;
    top: 0% !important;
    margin-top: -25px;
  }
  .sectionItem:nth-child(4) {
    left: 72% !important;
  }
  .sectionItem:nth-child(3) {
    left: 53% !important;
    margin-top: -20px !important;
  }
  .sectionItem:nth-child(2) {
    left: 35% !important;
    margin-top: 10px !important;
  }
  .sectionItem p {
    font-size: 10px !important;
    line-height: 14px !important;
  }
  .sectionList {
    gap: 0 !important;
  }

  .towerImage {
    width: 100% !important;
    left: 0 !important;
    display: none;
  }
  .towerOne {
    top: 15% !important;
  }
  .towerTwo,
  .towerThree,
  .towerFour,
  .towerFive,
  .towerSix,
  .towerSeven,
  .towerEight {
    left: 0 !important;
    transform: translateX(0) !important;
  }
  .towerList h3 {
    color: #2a1844 !important;
    text-align: right !important;
    leading-trim: both;
    text-edge: cap;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 92.5% !important;
  }
  .towerList p {
    color: #2a1844 !important;
    text-align: right !important;
    font-size: 10px !important;
    font-weight: 300 !important;
    line-height: 92.5% !important;
  }

  .tower-image {
    display: block !important;
    height: 100vh !important;
    width: 100% !important;
  }
  .towerFour {
    top: 64% !important;
    width: 100% !important;
  }
  .tower {
    padding-bottom: 50px !important;
    margin-top: 30px !important;
  }
  .towerFive {
    top: 70% !important;
  }
  .towerSix {
    top: 76% !important;
  }
  .towerSeven {
    top: 86% !important;
  }
  .towerEight {
    top: 91% !important;
  }
  .towerThree {
    top: 44% !important;
  }
  /* .towerList {
    width: 120px !important;
  } */
  body .div {
    display: flex;
    justify-content: flex-end;
    width: 350px;
  }

  ._busines img {
    width: 100% !important;
  }
  .swiper-slide {
    width: 100% !important;
  }

  .businesItem {
    width: 250px !important;
  }
  .busines p {
    width: 90% !important;
    font-size: 10px !important;
    line-height: 16px !important;
    margin-top: 0 !important;
  }
  .busines {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  body .businesItem {
    margin: 10px !important;
  }
  body .businesItem:nth-child(even) {
    margin-left: 125px !important;
  }
  body .businesItem:nth-child(even) {
    margin-top: 0 !important;
  }

  .busines h2 {
    font-size: 16px !important;
  }

  .mySwiper {
    display: none !important;
  }
  .mySwiperResponsive {
    display: block !important;
  }
  .headerFormName {
    width: 100% !important;
    margin-bottom: 30px !important;
  }
  .headerForm form {
    display: flex;
    flex-direction: column;
  }
  body .headerFormName {
    font-size: 25px !important;
  }
  .headermodal h2 {
    font-size: 45px !important;
    line-height: 50px !important;
  }
  .headermodal h1 {
    font-size: 45px !important;
    line-height: 50px !important;
    display: block !important;
    padding-top: 180px !important;
    height: 200px !important;
    padding-left: 15px;
  }

  .headerModalItem {
    padding: 30px !important;
    height: 300px !important;
    width: 90% !important;
    margin-top: 220px !important;
    border-radius: 20px !important;
    margin: 0 auto;
  }
  .headerModalList {
    display: flex;
    flex-direction: column;
    bottom: 20px !important;
    width: 100% !important;
    left: 0 !important;
  }

  .headerModalTop {
    padding-top: 40px !important;
    gap: 10px !important;
  }
  .headerModalItem h4 {
    font-size: 28px !important;
  }

  .headermodal {
    padding-bottom: 30px !important;
    min-height: 850px !important;
  }

  body .navbarItem button svg {
    width: 30px !important;
  }

  .headerModalTop a {
    font-size: 24px !important;
    line-height: 30px !important;
  }

  .galleryName,
  .layoutName {
    font-size: 60px !important;
  }
  .galeryImage {
    width: 230px !important;
    height: 132px !important;
  }
  .galeryImage:nth-child(even) {
    margin-left: 150px !important;
  }
  .partnerList {
    flex-wrap: wrap;
    display: flex;
  }
  .partnerList img {
    width: 95px !important;
    height: 40px !important;
    object-fit: contain !important;
  }
  .headerName {
    width: 100% !important;
    font-size: 33px !important;
    line-height: 40px !important;
    padding-left: 15px;
  }
  .header {
    padding-top: 150px !important;
  }
  .BgImage {
    min-height: 55vh !important;
    display: none;
  }
  .navbarItem h4 {
    font-size: 16px !important;
    line-height: 20px !important;
  }
  body .navbarItem button img {
    width: 30px !important;
  }
  .navbar-logo {
    width: 120px !important;
  }

  .layoutsList {
    display: flex;
    flex-direction: column;
  }
  .layoutsItem {
    margin-top: 0px !important;
    width: auto !important;
  }
  .layoutName {
    margin-bottom: 30px !important;
  }
  .layoutsImage {
    width: 100% !important;
  }
  .layoutsList a {
    font-size: 28px !important;
    line-height: 28px !important;
    padding: 3px 0 !important;
  }
  .moderaList .modera-icon {
    width: 30px !important;
    height: 30px !important;
  }
  .moderaList svg {
    width: 30px !important;
    height: 30px !important;
  }
  .moderaList {
    top: 91.2% !important;
    gap: 10px !important;
    left: 0;
    width: 60% !important;
    border-radius: 25px 25px 0px 0px !important;
    padding: 15px 10px !important;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
  }
  .moderaItem {
    width: 90% !important;
    height: 350px !important;
    left: 5% !important;
    margin: 0 auto !important;
    text-align: center;
  }
  .menuLogo {
    height: 500px !important;
  }
  .contactImage {
    width: 98% !important;
    height: 330px !important;
  }
  .galleryName,
  .contactName {
    font-size: 45px !important;
  }
  .custom-dropdown-menu {
    top: 5.5% !important;
  }
  .busines img {
    width: 220px !important;
    height: 120px !important;
  }
  .iconItem,
  .iconItems {
    width: 63px !important;
    height: 63px !important;
    border-radius: 0 20px !important;
  }
  .iconItem svg {
    width: 30px !important;
    height: 30px !important;
  }
  .iconItems svg {
    width: 30px !important;
    height: 30px !important;
  }
  .iconList {
    gap: 15px !important;
  }
  .footer {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .sectionItem p {
    color: #2a1844 !important;
    font-size: 8px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 92.5% !important;
    text-transform: uppercase;
  }
  .sectionItem:nth-child(4) p {
    margin-left: 15px !important;
    margin-top: 10px;
  }
  .sectionItem:nth-child(2) p {
    margin-left: 35px !important;
    margin-top: 0 !important;
  }
  .sectionItem:nth-child(3) p {
    margin-left: 25px !important;
  }
  .sectionItem:nth-child(1) p {
    margin-top: -20px !important;
    margin-left: 30px !important;
  }
  .sectionItem:nth-child(4) h3 {
    margin-left: -20px !important;
    margin-bottom: 5px !important;
  }
  .sectionItem:nth-child(3) h3 {
    margin-left: -20px !important;
    margin-bottom: 5px !important;
  }
  .sectionItem:nth-child(1) h3 {
    margin-left: -8px !important;
    margin-bottom: 15px !important;
  }
  .moderaList:hover .moderaLinks {
    pointer-events: none !important;
  }
  .moderaList:hover {
    pointer-events: none !important;
  }
  .moderaList {
    display: none !important;
  }
  .contactList {
    display: block !important;
  }
  .contactList a {
    margin: 0 5.6px;
  }

  .headerModalItem {
    margin-top: 150px !important;
  }
  .BgImageTwo {
    display: block;
  }
  body .headerForm {
    padding-top: 25px !important;
    max-height: 380px;
    min-height: 380px;
  }

  .load-title {
    font-size: 35px !important;
  }

  .Loader .logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .iconBox {
    display: none !important;
  }

  .gallery-items {
    display: flex;
    justify-content: flex-end;
  }
  .busines-items {
    border-radius: 10px;
    background: #fff;
    box-shadow: 7px 7px 8px 0px rgba(0, 0, 0, 0.15);
    width: 90%;
    padding: 5px;
  }
  .aboutBottom {
    border-radius: 15px !important;
    padding: 20px !important;
  }

  .section {
    padding-bottom: 70px !important;
  }
}
