html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
}

.container-fluid {
  margin: 0 auto;
  width: 100%;
  max-width: 1340px;
  padding: 0 15px;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  height: 0px;
  border-radius: 54px;
}
::-webkit-scrollbar-track {
  background: #fff;
  overflow-x: scroll;
}
::-webkit-scrollbar-thumb {
  background: #fce8bd !important;
  border-radius: 54px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav__langs {
  position: relative;
  color: #fff;
  cursor: pointer;
}

.nav__items-desktop,
.nav__details,
.nav__current-lang {
  display: flex;
  align-items: center;
}

.nav__current-lang {
  text-transform: uppercase;
  transition: 0.5s;
  border-radius: 50px;
  height: 35px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffd2d7;
  color: #fff;
  text-align: center;
  font-family: Vocal;
  font-size: 15px;
  font-style: normal;
  font-weight: 290;
  line-height: normal;
}

.languagee {
  color: #000;
  text-transform: uppercase;
}

.nav__langs-container {
  position: absolute;
  list-style: none;
  top: 160%;
  border: 1px solid #ffd2d7;
  color: #fff;
  padding: 10px 12px;
  border-radius: 6px;
  left: 40%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.nav__current-lang-path {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: transparent;
  width: 80px;
  height: 30px;
  display: inline-block;
}

.nav__current-lang-path:hover + .nav__langs-container,
.nav__langs-container:hover {
  opacity: 1;
  pointer-events: all;
  top: 200%;
}
.nav__langs-container li {
  padding: 5px;
  width: 100%;
  text-transform: uppercase;
}
